/* https://unocss.dev/transformers/directives#usage */
.custom-div {
  @apply: text-center my-0 font-medium;
  --at-apply: "hover:text-red";
}

.grid {
  --uno: grid grid-cols-2;
}

@screen sm {
  .grid {
    --uno: grid-cols-3;
  }
}

.btn-blue {
  background-color: theme("colors.blue.500");
}

/* https://unocss.dev/transformers/variant-group#usage */
.variant-group {
  @apply hover:(bg-gray-400 font-medium) font-(light mono);
}
