---
menu:
  - getting-started
  - creating-pages
  - page-formats
  - filters
  - plugins
---
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ 'styles.css' | url }}">
  </head>

  <body>
    <nav class="menu">
      <a href="{{ '/' | url }}">
        <img src="{{ 'logo.svg' | url }}" alt="Lume logo">
      </a>

      <ul>
        {% for section in menu %}
        <li>
          <strong>{{ search.folder(section).data.section }}</strong>
          <ul>
          {% for page in search.pages(section) %}
            <li>
              {% if page.data.url == url %}
              <a href="{{ page.data.url | url }}" aria-current="page">{{ page.data.title }}</a>
              {% else %}
              <a href="{{ page.data.url | url }}">{{ page.data.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <main class="main">
      {% if section %}
      <header>
        <p>{{ section }}</p>
        <h1>{{ title }}</h1>
      </header>
      {% endif %}

      {{ content | safe }}
    </main>
  </body>
</html>
