<!doctype html>
<html>
<head>
  <title>Demo</title>
</head>

<body>
  <div imagick="png 600@2">
    <img src="/kevin-schmid-unsplash.jpg">
  </div>
 

  <picture imagick="avif webp jpg 600@2">
    <img src="/kevin-schmid-unsplash.jpg">
  </picture>

  <!-- This image will be converted to a picture -->
  <img src="/kevin-schmid-unsplash.jpg" imagick="avif webp jpg 300@2">
</body>
</html>
