<html>
  <head>
    <title>{{ title }}</title>
  </head>

  <body>
    <nav>
      <ul style="display: flex; list-style: none; gap: 1em; padding: 0;">
        {{ for item of nav.breadcrumb(url) }}
        <li><a href="{{ item.data?.url }}">{{ item.data?.title }}</a></li>
        {{ /for }}
      </ul>
    </nav>

    <h1>{{ title }}</h1>

    <nav>
      <ul>
      {{ for item of nav.menu().children }}
        <li>
          {{ include "./step.vto" { item } }}
        </li>
      {{ /for }}
      </ul>
    </nav>

    <nav>
      <ul>
      {{ for item of nav.menu("/", "menu=true").children }}
        <li>
          {{ include "./step.vto" { item } }}
        </li>
      {{ /for }}
      </ul>
    </nav>
  </body>
</html>