{{- if item.data.url }}
<a href="{{ item.data.url }}">{{ item.data.title }}</a>
{{- else }}
<strong>{{ item.data.basename }}</strong>
{{- /if }}

{{- if item.children }}
<ul>
  {{- for child of item.children }}
  <li>
    {{ include "./step.vto" { item: child } }}
  </li>
  {{- /for }}
</ul>
{{- /if }}
