---
lang: [en, fr]
title: Other
metas:
  subtitle: English subtitle
  description: Common description
en:
  url: /other-page-english/
fr:
  title: Autre
  metas:
    subtitle: Sous-titre français
  url: /other-page-french.html
---
<h1>{{ metas.subtitle }}</h1>
<p>{{ metas.description }}</p>
<p>Other page <a href="{{ '~/index.md(lang=gl)' |> url }}">Link to index in Galego</a></p>
