---
lang: [en, fr]
title.fr: Autre
en:
  title: Other
  url: /other-page-english/
fr:
  url: /other-page-french.html
---

<p>Other page <a href="{{ '~/index.md(lang=gl)' | url }}">Link to index in Galego</a></p>