---
lang: [en, fr]
en:
  title: Other
  url: /other-page-english/
fr:
  title: Autre
  url: /other-page-french.html
---

<p>Other page <a href="{{ '~/index.md(lang=gl)' | url }}">Link to index in Galego</a></p>