<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
    
  </body>
</html>