<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="{{ "acorn" |> icon("phosphor") }}">
  <img src="{{ "acorn" |> icon("phosphor", "duotone") }}">
  <img src="{{ "acorn:duotone" |> icon("phosphor") }}">
  <img src="{{ "facebook" |> icon("simpleicons") }}">
  <img src="{{ "face-smile" |> icon("heroicons") }}">
  <img src="{{ "10k" |> icon("material") }}">
  <img src="{{ "10k" |> icon("material-100") }}">
  <img src="{{ "10k" |> icon("material-200") }}">
  <img src="{{ "10k" |> icon("material-300") }}">
  <img src="{{ "10k" |> icon("material-400") }}">
  <img src="{{ "10k" |> icon("material-500") }}">
  <img src="{{ "10k" |> icon("material-600") }}">
  <img src="{{ "10k" |> icon("material-700") }}">
  <img src="{{ "alarm-clock" |> icon("lucide") }}">
  <img src="{{ "alien" |> icon("tabler") }}">
  <img src="{{ "arrow/arrows_left_fill" |> icon("mingcute") }}">
  <img src="{{ "arrows/arrow-up-fill" |> icon("remix") }}">
  <img src="{{ "0-circle" |> icon("bootstrap") }}">
  <img src="{{ "a-arrow-down" |> icon("myna") }}">
  <img src="{{ "check" |> icon("iconoir") }}">
  <img src="{{ "add" |> icon("sargam") }}">
  <img src="{{ "sushi" |> icon("boxicons") }}">
  <img src="{{ "account-book" |> icon("ant") }}">
  <img src="{{ "access_time_20" |> icon("fluent") }}">
  <img src="{{ "comment" |> icon("octicons") }}">
  <img src="{{ "E046" |> icon("openmoji") }}">
  <img src="{{ "activity" |> icon("feather") }}">
</body>
</html>