<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="{{ "acorn" |> iconSingle("phosphor") }}">

  <svg><use href="{{ "acorn" |> iconSprite("phosphor") }}" /></svg>
  <svg><use href="{{ "acorn" |> iconSprite("phosphor", "duotone") }}" /></svg>
  <svg><use href="{{ "acorn:duotone" |> iconSprite("phosphor") }}" /></svg>
  <svg><use href="{{ "facebook" |> iconSprite("simpleicons") }}" /></svg>
  <svg><use href="{{ "face-smile" |> iconSprite("heroicons") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material-100") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material-200") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material-300") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material-400") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material-500") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material-600") }}" /></svg>
  <svg><use href="{{ "10k" |> iconSprite("material-700") }}" /></svg>
  <svg><use href="{{ "alarm-clock" |> iconSprite("lucide") }}" /></svg>
  <svg><use href="{{ "alien" |> iconSprite("tabler") }}" /></svg>
  <svg><use href="{{ "arrow/arrows_left_fill" |> iconSprite("mingcute") }}" /></svg>
  <svg><use href="{{ "arrows/arrow-up-fill" |> iconSprite("remix") }}" /></svg>
  <svg><use href="{{ "0-circle" |> iconSprite("bootstrap") }}" /></svg>
  <svg><use href="{{ "a-arrow-down" |> iconSprite("myna") }}" /></svg>
  <svg><use href="{{ "check" |> iconSprite("iconoir") }}" /></svg>
  <svg><use href="{{ "add" |> iconSprite("sargam") }}" /></svg>
  <svg><use href="{{ "sushi" |> iconSprite("boxicons") }}" /></svg>
  <svg><use href="{{ "account-book" |> iconSprite("ant") }}" /></svg>
  <svg><use href="{{ "access_time_20" |> iconSprite("fluent") }}" /></svg>
  <svg><use href="{{ "comment" |> iconSprite("octicons") }}" /></svg>
  <svg><use href="{{ "E046" |> iconSprite("openmoji") }}" /></svg>
  <svg><use href="{{ "activity" |> iconSprite("feather") }}" /></svg>
  <svg><use href="{{ "bell" |> iconSprite("fontawesome") }}" /></svg>
  <svg><use href="{{ "add" |> iconSprite("cssgg") }}" /></svg>
  <svg><use href="{{ "angle" |> iconSprite("radix") }}" /></svg>
  <svg><use href="{{ "accessibility" |> iconSprite("ionicons") }}" /></svg>
  <svg><use href="{{ "github" |> iconSprite("thesvg") }}" /></svg>
  <svg><use href="{{ "github:light" |> iconSprite("thesvg") }}" /></svg>

  <img src="{{ "acorn" |> iconSingle("phosphor") }}">
  <img src="{{ "acorn" |> iconSingle("phosphor", "duotone") }}">
  <img src="{{ "acorn:duotone" |> iconSingle("phosphor") }}">
  <img src="{{ "facebook" |> iconSingle("simpleicons") }}">
  <img src="{{ "face-smile" |> iconSingle("heroicons") }}">
  <img src="{{ "10k" |> iconSingle("material") }}">
  <img src="{{ "10k" |> iconSingle("material-100") }}">
  <img src="{{ "10k" |> iconSingle("material-200") }}">
  <img src="{{ "10k" |> iconSingle("material-300") }}">
  <img src="{{ "10k" |> iconSingle("material-400") }}">
  <img src="{{ "10k" |> iconSingle("material-500") }}">
  <img src="{{ "10k" |> iconSingle("material-600") }}">
  <img src="{{ "10k" |> iconSingle("material-700") }}">
  <img src="{{ "alarm-clock" |> iconSingle("lucide") }}">
  <img src="{{ "alien" |> iconSingle("tabler") }}">
  <img src="{{ "arrow/arrows_left_fill" |> iconSingle("mingcute") }}">
  <img src="{{ "arrows/arrow-up-fill" |> iconSingle("remix") }}">
  <img src="{{ "0-circle" |> iconSingle("bootstrap") }}">
  <img src="{{ "a-arrow-down" |> iconSingle("myna") }}">
  <img src="{{ "check" |> iconSingle("iconoir") }}">
  <img src="{{ "add" |> iconSingle("sargam") }}">
  <img src="{{ "sushi" |> iconSingle("boxicons") }}">
  <img src="{{ "account-book" |> iconSingle("ant") }}">
  <img src="{{ "access_time_20" |> iconSingle("fluent") }}">
  <img src="{{ "comment" |> iconSingle("octicons") }}">
  <img src="{{ "E046" |> iconSingle("openmoji") }}">
  <img src="{{ "activity" |> iconSingle("feather") }}">
  <img src="{{ "bell" |> iconSingle("fontawesome") }}">
  <img src="{{ "add" |> iconSingle("cssgg") }}">
  <img src="{{ "angle" |> iconSingle("radix") }}">
  <img src="{{ "accessibility" |> iconSingle("ionicons") }}">
  <img src="{{ "github" |> iconSingle("thesvg") }}">
  <img src="{{ "github:light" |> iconSingle("thesvg") }}">
</body>
</html>
