<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <svg><use href="{{ "acorn" |> spriteIcon("phosphor") }}" /></svg>
  <svg><use href="{{ "acorn" |> spriteIcon("phosphor", "duotone") }}" /></svg>
  <svg><use href="{{ "acorn:duotone" |> spriteIcon("phosphor") }}" /></svg>
  <svg><use href="{{ "facebook" |> spriteIcon("simpleicons") }}" /></svg>
  <svg><use href="{{ "face-smile" |> spriteIcon("heroicons") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material-100") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material-200") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material-300") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material-400") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material-500") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material-600") }}" /></svg>
  <svg><use href="{{ "10k" |> spriteIcon("material-700") }}" /></svg>
  <svg><use href="{{ "alarm-clock" |> spriteIcon("lucide") }}" /></svg>
  <svg><use href="{{ "alien" |> spriteIcon("tabler") }}" /></svg>
  <svg><use href="{{ "arrow/arrows_left_fill" |> spriteIcon("mingcute") }}" /></svg>
  <svg><use href="{{ "arrows/arrow-up-fill" |> spriteIcon("remix") }}" /></svg>
  <svg><use href="{{ "0-circle" |> spriteIcon("bootstrap") }}" /></svg>
  <svg><use href="{{ "a-arrow-down" |> spriteIcon("myna") }}" /></svg>
  <svg><use href="{{ "check" |> spriteIcon("iconoir") }}" /></svg>
  <svg><use href="{{ "add" |> spriteIcon("sargam") }}" /></svg>
  <svg><use href="{{ "sushi" |> spriteIcon("boxicons") }}" /></svg>
  <svg><use href="{{ "account-book" |> spriteIcon("ant") }}" /></svg>
  <svg><use href="{{ "access_time_20" |> spriteIcon("fluent") }}" /></svg>
  <svg><use href="{{ "comment" |> spriteIcon("octicons") }}" /></svg>
  <svg><use href="{{ "E046" |> spriteIcon("openmoji") }}" /></svg>
  <svg><use href="{{ "activity" |> spriteIcon("feather") }}" /></svg>
  <svg><use href="{{ "bell" |> spriteIcon("fontawesome") }}" /></svg>
  <svg><use href="{{ "add" |> spriteIcon("cssgg") }}" /></svg>
  <svg><use href="{{ "angle" |> spriteIcon("radix") }}" /></svg>
  <svg><use href="{{ "accessibility" |> spriteIcon("ionicons") }}" /></svg>
  <svg><use href="{{ "github" |> spriteIcon("thesvg") }}" /></svg>
  <svg><use href="{{ "github:light" |> spriteIcon("thesvg") }}" /></svg>

  <img src="{{ "acorn" |> icon("phosphor") }}">
  <img src="{{ "acorn" |> icon("phosphor", "duotone") }}">
  <img src="{{ "acorn:duotone" |> icon("phosphor") }}">
  <img src="{{ "facebook" |> icon("simpleicons") }}">
  <img src="{{ "face-smile" |> icon("heroicons") }}">
  <img src="{{ "10k" |> icon("material") }}">
  <img src="{{ "10k" |> icon("material-100") }}">
  <img src="{{ "10k" |> icon("material-200") }}">
  <img src="{{ "10k" |> icon("material-300") }}">
  <img src="{{ "10k" |> icon("material-400") }}">
  <img src="{{ "10k" |> icon("material-500") }}">
  <img src="{{ "10k" |> icon("material-600") }}">
  <img src="{{ "10k" |> icon("material-700") }}">
  <img src="{{ "alarm-clock" |> icon("lucide") }}">
  <img src="{{ "alien" |> icon("tabler") }}">
  <img src="{{ "arrow/arrows_left_fill" |> icon("mingcute") }}">
  <img src="{{ "arrows/arrow-up-fill" |> icon("remix") }}">
  <img src="{{ "0-circle" |> icon("bootstrap") }}">
  <img src="{{ "a-arrow-down" |> icon("myna") }}">
  <img src="{{ "check" |> icon("iconoir") }}">
  <img src="{{ "add" |> icon("sargam") }}">
  <img src="{{ "sushi" |> icon("boxicons") }}">
  <img src="{{ "account-book" |> icon("ant") }}">
  <img src="{{ "access_time_20" |> icon("fluent") }}">
  <img src="{{ "comment" |> icon("octicons") }}">
  <img src="{{ "E046" |> icon("openmoji") }}">
  <img src="{{ "activity" |> icon("feather") }}">
  <img src="{{ "bell" |> icon("fontawesome") }}">
  <img src="{{ "add" |> icon("cssgg") }}">
  <img src="{{ "angle" |> icon("radix") }}">
  <img src="{{ "accessibility" |> icon("ionicons") }}">
  <img src="{{ "github" |> icon("thesvg") }}">
  <img src="{{ "github:light" |> icon("thesvg") }}">
</body>
</html>
