<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <svg><use href="{{ "arrow/arrows_left_fill" |> spriteIcon("mingcute") }}" /></svg>
  <img src="{{ "arrow/arrows_left_fill" |> icon("mingcute") }}">
</body>
</html>
