<div>{{ content | safe }}</div>

{% if category %}  
<h2>Category:</h2>
<a href="{{ category.url }}">{{ category.title }}</a>
{{ category.content | md | safe }}
{% endif %}

<ul>
{% for com in comment %}
  <li>{{ com.content | md | safe }}</li>
{% endfor %}
</ul>