<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
    }
    h1 {
      font-size: 1.5em;
      margin-top: 0;
      margin-bottom: .5em;
    }
  </style>
</head>
<body>
  <h1>Hello World</h1>
  <script>
    var a = 1;
    var b = 2;
    var c = a + b;
    console.log(c);
  </script>
  <script>
    if (window.goatcounter && window.goatcounter.vars) {
      window.goatcounter = window.goatcounter.vars
    } else {
      window.goatcounter = window.goatcounter || {}
    }
  </script>
</body>
</html>