---
metas:
  title: Relative **paths**
  description: Tests the use of relative path (to page.data.url) when filling out the og:image or og:icon URL
  image: ./my-image.png
  icon: ./my-icon.png
  "twitter:label1": Reading time
  "twitter:data1": 1 minute
  generator: false
---
<html>
  <head>
  </head>
  <body>
    Hello world
  </body>
</html>
