---
metas:
  title: Relative paths
  description: Tests the use of relative path (to page.data.url) when filling out the og:image or og:icon URL
  image: ./my-image.png
  icon: ./my-icon.png
  other:
    label1: Reading time
    data1: 1 minute
---
<html>
  <head>
  </head>
  <body>
    Hello world
  </body>
</html>
