---
metas:
  title: Custom title
  description: |
    <strong>A very long custom description</strong> with a lot of text
    that will be truncated to a maximum of 155 characters and then append "…" to the end.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  robots: true
  other:
    twitter:label1: Reading time
    twitter:data1: 1 minute
---
<html>
  <head>
  </head>
  <body>
    Hello world
  </body>
</html>
