---
tags: ["one", "two", "three"]
metas:
  title: Relative **paths**
  description: Tests the use of relative path (to page.data.url) when filling out the og:image or og:icon URL
  image: ./my-image.png
  icon: ./my-icon.png
  "twitter:label1": Reading time
  "twitter:data1": 1 minute
  "article:published_time":	"=date"
  "article:modified_time": "=date"
  "article:author": "=author"
  "article:section": "=article-type"
  "article:tag": "=tags"
---
<html>
  <head>
  </head>
  <body>
    Hello world
  </body>
</html>
