<html>
  <body>
    {{ content }}

    <footer>
      Reading time: {{ readingInfo.time }}<br>
      Reading minutes: {{ readingInfo.minutes }}<br>
      Words count: {{ readingInfo.words }}<br>
    </footer>
  </body>
</html>