<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image size</title>
</head>
<body>
    <img src="/fire.jpg" image-size>
    <img src="./lume.PNG" image-size>
</body>
</html>
