<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  lang="{{ metadata.language }}"
  xmlns:epub="http://www.idpf.org/2007/ops"
>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta
      name="keywords"
      content="Cryptocurrency,Cryptocurrencies,Blockchain,Bitcoin,Bitcoin Cash,Monero,Ethereum,BTC,BCH,XMR,ETH,ICO,Crypto"
    />
  </head>
  <body>
    {{ content }}
  </body>
</html>
