<html>
<body>
  <pre>Code inside a PRE</pre>
  <code>Code inside a CODE</code>
  <pre><code>Not highlighted code</code></pre>
  <pre class="language-css"><code>p { display: none }</code></pre>
</body>
</html>