<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>title</title>
  <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js"></script>
  <script src="./script.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
</head>
<body>

</body>
</html>