<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inline test</title>
  <link id="el-1" rel="stylesheet" href="styles.css">
  <link id="el-2" rel="stylesheet" href="styles.css" inline>
  <link id="el-3" rel="shortcut icon" href="/favicon.svg" inline>
  <link id="el-4" rel="shortcut icon" href="/favicon.svg">
  <link id="el-5" rel="shortcut icon" href="/favicon.png" inline>
  <link id="el-6" rel="shortcut icon" href="/favicon.png">
</head>
<body>
  <img id="el-7" class="has-svg" src="./favicon.svg" inline>
  <img id="el-8" class="has-svg" src="./favicon.svg">
  <img id="el-9" class="has-png" src="./favicon.png" inline>
  <img id="el-10" class="has-png" src="./favicon.png">
  <script id="el-11" src="./script.js"></script>
  <script id="el-12" src="./script.js" inline></script>
  <script id="el-13" src="./script.js" type="module" inline></script>
</body>
</html>
