{{ comp title }}Benvido!!{{ /comp }}
{{ comp.title({ content: "Benvido2" })}}
{{ comp.title({ children: "Benvido3" })}}

{{ comp subtitle }}Benvido!!{{ /comp }}
{{ comp.subtitle({ content: "Benvido2" })}}
{{ comp.subtitle({ children: "Benvido3" })}}
