@import "/style.css";
@import "other-styles.css";
@import "./other-styles.css";
@import '/style.css';
@import 'other-styles.css';
@import './other-styles.css';
@import url('/style.css');
@import url('other-styles.css');
@import url('./other-styles.css');
@import url(/style.css);
@import url(other-styles.css);
@import url(./other-styles.css);

@font-face {
  font-family: "foo";
  src: url("/fonts/cicle_fina-webfont.woff2");
}

div {
  background-image: url("/img/avatar.png");

}

:root {
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}
