@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://dev.jspm.io/npm:highlight.js@10.1.2/styles/monokai-sublime.css');

:root {
  --color-brand: #c45402;
  --color-black: #23241f;
  --color-gray: #555;
  --color-gray-light: #eee;

  --font-small: 1rem;
  --font-normal: 1.4rem;
  --font-big: 2rem;
  --font-xbig: 3rem;
}

body {
  font-family: 'PT Serif', serif;
  line-height: 1.5;
  margin: auto;
  padding: 2vh 5vw 5vh 2vw;
  font-size: var(--font-normal);
  display: grid;
  grid-template-areas: "menu main";
  grid-template-columns: max-content minmax(0, 1fr);
  grid-column-gap: 5vw;
  max-width: 1400px;
  align-items: start;
  color: var(--color-black);
}

.menu {
  grid-area: menu;
  font-size: var(--font-small);
}
.menu img {
  display: block;
  margin-bottom: 2rem;
}
.menu a {
  display: block;
  padding: .3em .75em;
  border-radius: 5px;
}
.menu a:hover {
  color: var(--color-black);
  text-decoration: none;
}
.menu a[aria-current="page"] {
  color: var(--color-black);
  text-decoration: none;
  background-color: var(--color-gray-light);
}
.menu ul {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}
.menu li {
  margin: 0;
}
.menu strong {
  display: block;
  margin: .3em 0;
}
.menu > ul {
  margin-left: 80px;
}
.main {
  grid-area: main;
  margin-top: 3.5em;
}
.main > * {
  max-width: 35em
}
.main > pre {
  max-width: none;
}

a {
  color: var(--color-brand);
}

code {
  font-family: 'PT Mono', monospace;
  background-color: var(--color-gray-light);
  padding: 0 2px;
  border-radius: 2px;
  font-size: 0.75em;
  color: var(--color-gray);
}
pre {
  overflow-x: auto;
  background-color: var(--color-black);
  padding: 1em;
  border-radius: 5px;
  line-height: 1.2;
}
pre code {
  background: none;
  padding: 0;
  border-radius: 0;
  color: var(--color-gray-light);
  font-size: var(--font-small);
}
header p:first-child {
  margin-bottom: 0;
}

header h1 {
  margin-top: 0;
  font-size: var(--font-xbig);
  line-height: 1;
  letter-spacing: -0.015em;
}
header p {
  margin-top: 0;
}
h2 {
  font-size: var(--font-big);
  margin-top: 2em;
  margin-bottom: .5em;
  letter-spacing: -0.01em;
}
h3 {
  font-size: var(--font-normal);
  margin-top: 2em;
  margin-bottom: 0;
}
h3 + p {
  margin-top: .5em;
}

table {
  background-color: var(--color-gray-light);
  border-collapse: collapse;
  width: 100%;
}
td, th {
  padding: .3em;
  text-align: left;
}
th {
  border-bottom: solid 1px;
}
li {
  margin: .5em 0;
}