<body>

  <table>
    <tr>
      {% for key, column in attendance_numbers[0] %}
        <th>{{ key }}</th>
      {% endfor %}
    </tr>

    {% for row in attendance_numbers %}
      <tr>
        {% for key, column in row %}
          <td>{{ column }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</body>
