name: Tests

on: [push, pull_request]

jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Setup Deno environment
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Verify formatting
        if: matrix.os == 'ubuntu-latest'
        run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Test installation
        run: deno run --unstable -A install.ts

      - name: Run tests
        run: deno task test

      - name: Test upgrade
        run: deno run --unstable -A ci.ts upgrade
