<nav>
{% for item in alternates %}
  <a href="{{ item.url }}" hreflang={{ item.lang }} class="alternate">{{ item.title }}</a>
{% endfor %}
</nav

<ul>
{% for item in results %}
  <li>{{ item.data.title }}</li>
{% endfor %}
</ul>