<nav>
{{ for item of alternates }}
  <a href="{{ item.url }}" hreflang={{ item.lang }} class="alternate">{{ item.title }}</a>
{{ /for }}
</nav

<ul>
{{ for item of results }}
  <li>{{ item.title }}</li>
{{ /for }}
</ul>